h1{
    font-family: 'BreeSerif',serif;
    font-size: 26px;
}
body{
    margin-left: 130px;
    display: flex;
    padding: 10px;
    background: #77ffd4;
    color: rgb(230, 112, 112);

}
p{
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    font-size: 20px;

}
.tabs{
    margin-left: 200px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    background: #ea4e4e;
}
.title{
    font-weight: bold;
    margin-left: 350px;
    font-size: 56px;
    color: #9a9eff;
    text-shadow: 10px 10px 5px rgb(183, 239, 241);
    position: absolute;

}

.input{
    position: absolute;
    opacity: 0;

}
.label{
    width: 100%;
    padding: 20px 30px;
    background: #e961ac;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #7f7f7f;
    transition: 0.1s,color 0.1s;

}
.label:hover{
    background: #d8d8d8;

}
.label:active{
    background: #ccc;

}
input:checked + .label{
    background: #fff;
    color:rgb(117, 234, 220);

}
.label{
    width: auto;

}
.panel{
    display: none;
    padding: 20px 30px 30px;
    background: #fff;
    order: 1;

}
.input:checked + .label + .panel{
    display: block;
}
div.co1{
    column-gap: 2em;
    column-count: 3;
    column-rule: 4px solid #f88f06;

}
img{
    border-radius: 5em;
    margin: 3px;
}
